.hero{

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:60px;

    min-height:70vh;
}

.hero-left{
    width:45%;
}

.hero-left h1{

    font-size:45px;
    margin-bottom:20px;

}

.hero-left p{

    font-size:20px;
    margin-bottom:20px;

}

.hero-left h3{

    margin:12px 0;

}

.hero-left button{

    margin-top:25px;
    padding:12px 30px;

    background:#1e3a5f;
    color:white;

    border:none;
    border-radius:6px;

    cursor:pointer;
}

.hero-left button:hover{

    background:#305b8b;

}

.hero-right img{

    width:500px;
    border-radius:10px;

}